drafts/
figures/
presentations/
slide_decks/
tables/
weekly_analyses_updates/
.Rproj.user
Dante.Rproj
.Rhistory
.RData

scripts/aerosol_analysis/
scripts/unused/
scripts/ancillary_analysis/
scripts/glider_analysis/
scripts/main_analysis/
scripts/main_analysis/compare/
